.*/
*build/
__pycache__/
_autogen/
tests-results/
*.egg-info

*.user
*.log
*.pyi
*.so
.coverage
tests.xml

package.dot
package.pdf

logo.pdf
logo.svg

src/abrain/_cpp/misc/constants.h

!doc/src/_autogen/functions.rst
