.*/
*build/
*dist/
*tmp/
__pycache__/
tests-results/
*.egg-info

*.user
*.log
*.pyi
*.so
.coverage
tests.xml

doc/src/_autogen/errors.rst

package.dot
package.pdf

logo.pdf
logo.svg

src/abrain/_cpp/misc/constants.h

!.github/
!doc/src/_autogen/functions.rst
